.quadranteTotal{
    display: flex;
    flex-direction: column;

background-color: aqua;
width: 75vh;
height: 75vh;
}
.fileira1{
    display: flex;

    height: 25vh;
}

.fileira2{
    display: flex;

    height: 25vh;
    border-top: double
}
.fileira3{
    display: flex;

    height: 25vh;
    border-top: double
}
.area1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25vh;
}
.areaCentral{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 25vh;

    border-right: double;
    border-left: double;
}
.area3{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 25vh;
}

input{
    width: 20vh;
    height: 20vh;

    font-size: 18vh;
    text-align: center;
}
